/* Global variables */
:root {
  --text-font: "Rubik", sans-serif;
  --dark-color: #000;
  --light-color: #fff;
  --medium-color: #d3d3d3;
  --green-color: #4a676d;
}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/optical-illusion.jpg");
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--text-font);
  font-weight: 700;
}

section {
  padding: 10px;
}

/* Header */
header h1 {
  margin: 20px auto;
  font-size: 3rem;
}

header p {  
  font-weight: 400;
  font-size: 1.7rem;
}

/* Results */
.results {
  display: none;
  margin: 20px 10px;
  border: 4px solid var(--dark-color);
  background-color: var(--light-color);
  filter: drop-shadow(10px 10px 10px var(--dark-color));
  font-size: 1.6rem;
}

/* Main */
.quiz-outer {
  width: 100%;
}

.quiz-outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-inner {
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--dark-color);
  background-color: var(--light-color);
  filter: drop-shadow(10px 10px 10px var(--dark-color));
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.main p {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px;
  text-align: justify;
}

ol {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
  height: 100%;
}

ol li {
  flex: 30%;
  display: flex;
  list-style: none;
  margin: 0 5px;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
  height: 0;
}

label {
  display: inline-block;
  width: 100%;
  height: 150px;
  font-size: 1rem;
  padding: 8px;
  font-weight: 700;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid var(--dark-color);
}

label:hover {
  background-color: var(--medium-color);
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color:  var(--medium-color);
}

.answered {
  border: 4px solid darkorange;
}

.good-answer {
  color: green;
}

.bad-answer {
  color: red;
}

.button {
  margin: 20px auto;
  border: 4px solid var(--dark-color);
  background-color: var(--light-color);
  width: 40%;
  height: 150px;
  font-family: var(--text-font);
  font-size: 1.4rem;
  font-weight: 700;
}

.button:hover {
  cursor: pointer;
  background-color: var(--medium-color);
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .wrapper {
    width: 100%;
    margin: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .wrapper {
    width: 100%;
    padding: 10px;
  }
 }